Package: libfastjson-dev
Source: libfastjson
Version: 0.99.8-2
Architecture: amd64
Maintainer: Michael Biebl <biebl@debian.org>
Installed-Size: 1464
Depends: libfastjson4 (= 0.99.8-2)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/rsyslog/libfastjson
Description: fast json library for C - development files
 The libfastjson library is a fork from json-c with a focus on performance.
 .
 This package contains the development files.
