Package: libfastjson4
Source: libfastjson
Version: 0.99.8-2
Architecture: amd64
Maintainer: Michael Biebl <biebl@debian.org>
Installed-Size: 174
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/rsyslog/libfastjson
Description: fast json library for C
 The libfastjson library is a fork from json-c with a focus on performance.
 .
 This package contains the shared library.
